<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Spotify Playlist Sorter</title>
    </head>
    <body>
        <h1>Welcome To The Playlist Sorter</h1>
        <p>This app is designed to sort your playlist in order to make the songs seemlessly flow from one to another when listened in order!</p>
        <p>To start, simply press the button below, and you will be redirected to Spotify!</p>
        <button onclick="location.href = 'https://accounts.spotify.com/authorize?client_id=191191dc22454792bdd9c4be5bc14f17&response_type=code&redirect_uri=http%3A%2F%2Flocalhost:5000%2Fselect&scope=playlist-read-private%20playlist-read-collaborative%20playlist-modify-public%20playlist-modify-private';" id="start" class="float-left submit-button" >Start</button>
    </body>
</html>